/* FUENTES DE GOOGLE AQUÍ */
@import "tailwindcss";


@theme {
    --font-family-circular: 'circular-web', sans-serif;
    --font-family-general: 'general', sans-serif;
    --font-family-robert-medium: 'robert-medium', sans-serif;
    --font-family-robert-regular: 'robert-regular', sans-serif;
    --font-family-zentry: 'Zentry', sans-serif;
    --ease-custom: cubic-bezier(0.65, 0.05, 0.36, 1);
}



body {
    @apply bg-zinc-900 text-zinc-50 relative font-sans h-screen overflow-x-hidden;
}



.nav-hover-btn {
    @apply relative ms-10 font-[var(--font-family-general)] text-xs uppercase text-[var(--color-blue-50)] after:absolute after:-bottom-0.5 after:left-0 after:h-px after:w-full after:origin-bottom-right after:scale-x-0 after:bg-neutral-800 after:transition-transform after:duration-300 after:ease-custom hover:after:origin-bottom-left hover:after:scale-x-100 dark:after:bg-white cursor-pointer;
}

.floating-nav {
    @apply bg-transparent rounded-lg border ;
    background-color: rgba(255, 255, 255, 0.03); 
    backdrop-filter: blur(70px); 
    -webkit-backdrop-filter: blur(12px); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
    border-color: rgba(255, 255, 255, 0.3); 
}

.absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

.flex-center {
    @apply flex justify-center items-center;
}




/* Fuentes personalizadas */
@font-face {
  font-family: 'circular-web';
  src: url('/fonts/circularweb-book.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'general';
  src: url('/fonts/general.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'robert-medium';
  src: url('/fonts/robert-medium.woff2') format('woff2');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'robert-regular';
  src: url('/fonts/robert-regular.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'zentry';
  src: url('/fonts/zentry-regular.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

